@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-wrap {
    @apply flex flex-col justify-center items-center py-2;
  }
  .ft_title {
    @apply mb-8 font-bold text-4xl;
  }
  .field_max {
    @apply flex flex-col mb-4;
  }

  .ft_field-label {
    @apply mb-2 font-bold text-xl;
  }

  .ft_input {
    @apply bg-[#2B2D3D] min-h-6 px-4 py-2;
  }

  .ft_button {
    @apply bg-[#2FB4FF] px-4 py-2 rounded-md text-xl font-bold;
  }

  .ft_button-sm {
    @apply bg-[#2FB4FF] rounded-md px-2 py-1 text-sm;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2d3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2fb4ff;
  border-radius: 5px;
  transition: color 500 ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2fb3ffb9;
  transition: color 500 ease-in-out;
}
